<div class="mt-4">
    <h3>dang khoa hoc</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">ten khoa hoc</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Mo ta khoa hoc</label>
            <input type="text" class="form-control" id="desc" name="desc">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">videoID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">trinh do</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
       
        <button type="submit" class="btn btn-primary">them khoa hoc</button>
    </form>
</div>